extends ./layout/masterpage.pug

block contenido 
    main.container.mt-5
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h3= pagina

                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi porro dolorum placeat ducimus sapiente maiores laboriosam temporibus rerum. Soluta magni voluptatum provident aperiam ea facere non deserunt similique modi vel.

                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime saepe officia, cupiditate voluptatum ad quaerat excepturi assumenda voluptates molestias ipsam, eligendi est ipsa facilis quod ea quos soluta nobis temporibus quas modi expedita odit! Itaque odio numquam accusamus sequi quasi!

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt maiores quia, exercitationem totam praesentium placeat esse accusamus sapiente necessitatibus recusandae?
    
    .listado-iconos     
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="Icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed nemo autem dolorum voluptates possimus id officiis culpa nam excepturi dicta.
                
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="Icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed nemo autem dolorum voluptates possimus id officiis culpa nam excepturi dicta.
                
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="Icono precios", class="img-fluid mb-4")
                    h2.mb-4 Precios 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed nemo autem dolorum voluptates possimus id officiis culpa nam excepturi dicta.
        